$background-color: #f5f5f5;
$app-title: #ead7d7;
$text-color: #4d4d4d;
$border-color: #ededed;
$grey-text: #777777;
$crossed-text: #D9D9DB;

$section-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
